[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
knox = "*"
pymysql = "*"
django-cors-headers = "*"
django-cryptography = "*"
django-jinja = "*"
boto3 = "*"
django-rest-knox = "*"
coreapi = "*"
pyyaml = "*"
uritemplate = "*"
django-rest-swagger = "*"
drf-yasg = "*"
gunicorn = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
